.detail_container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 50%;
    font-weight: 300;
    text-align: center;
}
.detail_container .title{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail_container img {
    position: relative;
    width: 30%;
    box-shadow: 0 10px 20px -12px rgba(50, 50, 93, 0.25),
    0 9px 18px -18px rgba(0, 0, 0, 0.3), 0 -6px 18px -8px rgba(0, 0, 0, 0.025);
}